@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  }
}

/* .songListContainer {
  background-color: #CAF0F8;
  height: 100vh;
  width: 100vw;
} */

#root {
  /* background-color: #1d3557; */
  /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
    /* background: linear-gradient(to right, #2b5876, #4e4376); */
    /* background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); */
    background: linear-gradient(to top, #3a7bd5, #3a6073);
}
::-webkit-scrollbar {
  width: .5em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #1d4d68;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background-color: white;
  /* outline: 1px solid black; */
  border-radius: 10px;
}
/* * {
  background-color: #203647;
} */
.logoDiv {
  height: 100vh;
  text-align: center;
}
h3 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 4em;
}

.authHeader {
  margin-bottom: 4em;
  color: #4DA8DA;
  font-family: 'Pacifico', cursive;
}

.authPage {
  align-content: center;
  justify-items: center;
  text-align: center;
}

.loginBtn {
  background-color: #007CC7;
  width: 15em;
  height: 5em;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin: auto;
  text-align: center;
  display: inline-block;
  justify-content: center;
  color: white;
  border: none;
  border-radius: 0.6rem;
}

.loginBtn span{
  background-color: #007CC7;
  text-align: center;
}

.loginBtn:hover, .loginBtn:focus {
  transition-duration: 500ms;
  transform: translate(-1px, 2px);
  box-shadow: 0 0.25rem 0.75rem 0 #777777;
}

.loginLogo {
   background-color: #007CC7;
  height: 1.5rem;
  width:2em;
  fill: white;
}
